{% extends 'layout.html' %}

{% block body %}
  
<div class="panel-group">
    <div class="panel panel-primary">

        <div class="panel-heading">Recipes</div>

        <div class="panel-body">
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#myModal">Add Recipe</button>
            <hr>
            <ul class="list-group">
                <li class="list-group-item">Katunda</li>
                <li class="list-group-item">Milk Tea</li>
                <li class="list-group-item ">Black Tea</li>
                <li class="list-group-item">African Tea</li>
                <li class="list-group-item">Water</li>
                
            </ul>

            
        </div>
    </div>
  

{% endblock %}

       
